/* Geral */
* {
    font-family: "Roboto";
    color: #fff;
}
body {
    background: linear-gradient(329.54deg, #1e1e1f 0%, #000000 70%);
}

.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 30px;
    background: none;
    padding: 10px 30px;
}

/* Login */
.logo {
    text-align: center;
    margin-top: 120px;
}

.login-form {
    padding: 50px 200px;
}
.login-form label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.login-form input {
    font-size: 16px;
    width: 548px;
    height: 40px;
    background: none;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #fff;
    border: 4px solid #daa520;
}

.login-form input:focus {
    outline: none;
}

.btn-entrar {
    color: #daa520;
    border: 4px solid #daa520;
    display: flex;
}

.btn-entrar:hover {
    color: #e4b643;
    border: 4px solid #e4b643;
}

.btns {
    text-align: center;
}

.btns a:hover {
    color: #aa9a72;
    text-decoration: bisque;
}

.toggle {
    background: none;
    border: none;
    position: relative;
    bottom: 53px;
    left: 500px;
}

/*index */
.index {
    width: 100%;
    height: 100%;
    display: flex;
}
.left {
    width: 25%;
    height: 100%;
    background: rgb(22, 22, 22);
}

.logo-index img {
    width: 100%;
    padding: 35px 10% 20px 10%;
}

.info-topo {
    text-align: center;
    padding-top: 50px;
}

.info-topo a:hover {
    color: #fff;
    border: #daa520 solid 1px;
    padding: 10px 30px;
}

.info-topo .caixa-fechado {
    padding-top: 15px;
    color: #ffcc00;
}

.info-topo .caixa-aberto {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #339900;
}

.aside-menu {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.aside-menu ul li {
    padding-top: 30px;
}

.aside-menu ul li a:hover {
    color: #daa520;
    border: #daa520 solid 1px;
    padding: 10px 70px;
}

.div-baixo {
    text-align: center;
    padding-top: 30px;
}

.clock {
    padding-bottom: 30px;
}

.btn-sair {
    color: #f42424;
    border: 4px solid #f42424;
    padding: 10px 70px;
}

.btn-sair:hover {
    color: #d35050;
    border: 4px solid #d35050;
}

.right {
    width: 75%;
    height: 100%;
}

.cart-logo {
    width: 55px;
    margin: 14px 14px 10px auto;
}

.form-valor-caixa {
    padding: 150px 230px;
}
.form-valor-caixa label {
    display: block;
}
.form-valor-caixa input {
    font-size: 16px;
    width: 548px;
    height: 40px;
    background: none;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    border: 4px solid #daa520;
}

.form-valor-caixa input:focus {
    outline: none;
}
.div-botao-caixa {
    text-align: center;
}
.btn-caixa {
    border-radius: 0;
    color: #339900;
    border: 4px solid #339900;
    padding: 10px 70px;
}

.btn-caixa:hover {
    color: #55ff00;
    border: 4px solid #55ff00;
}

.info-topo .btn-fechar-caixa {
    color: #f42424;
}

.info-topo .btn-fechar-caixa:hover {
    color: #d35050;
    border: 4px solid #d35050;
}

.table-sales {
    padding: 30px 110px;
}

.table-sales table {
    width: 816px;
}

.table-sales thead tr,
.table-sales tbody {
    display: block;
}

.table-sales tbody {
    height: 369; /* Just for the demo          */
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: hidden; /* Hide the horizontal scroll */
}

.table-sales tbody td,
.table-sales thead th {
    width: 140px;
}

thead th:last-child {
    width: 156px; /* 140px + 16px scrollbar width */
}

.table-sales table,
.table-sales th,
.table-sales td {
    border: 1px solid #daa520;
    border-collapse: collapse;
}

.table-sales th {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #daa520;
}
.table-sales td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

tr .table_total {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 50%;
}

.table_total span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.checkboxes {
    align-items: center;
    text-align: center;
}

.checkboxes input {
    width: 28px;
    height: 28px;
    margin: 0 15px;
}

.checkboxes label {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    color: #ffffff;
}
/* footer */
footer {
    text-align: center;
    border: #daa520 solid 1px;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
